# Generic Racket gitignore file
# Source: https://www.toptal.com/developers/gitignore?templates=racket

# DrRacket autosave files
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#

*.scrbl~
*.scrbl.bak
\#*.scrbl#
\#*.scrbl#*#

# Compiled racket bytecode
compiled/
doc/
*.zo

# Dependency tracking files
*.dep
